In [1]:
import pandas as pd 

from ipysigma import Sigma

In [2]:
follows_df = pd.read_csv('../tmp/network_data.csv')
# follows_df.sample(3)

In [3]:
follows_df

                 Source           Target  Weight
0               android  jetpack-compose      16
1               android     music-player       4
2               android          youtube       5
3               android            music       4
4       jetpack-compose     music-player       1
...                 ...              ...     ...
145683            adult         synology       1
145684         metadata         synology       1
145685            adult         japanese       1
145686         japanese         metadata       1
145687            adult         metadata       1

[145688 rows x 3 columns]

In [4]:
sub_df = follows_df.query("Weight > 1")
sub_df

               Source           Target  Weight
0             android  jetpack-compose      16
1             android     music-player       4
2             android          youtube       5
3             android            music       4
7        music-player          youtube       5
...               ...              ...     ...
143778          linux             mqtt       2
143960  offline-first            react       2
144074          adult          scraper       2
144505          admin          backend       2
145335            ast             java       2

[20066 rows x 3 columns]

In [5]:
import pandas as pd
import networkx as nx



# Initialize a Graph
G = nx.Graph()

# Add edges to the graph
for idx, row in sub_df.iterrows():
    G.add_edge(row['Source'], row['Target'], weight=row['Weight'])

# Optional: View the edges with weights
# print(G.edges(data=True))

In [6]:
Sigma.write_html(
    G,
    './dataset4.html',
    fullscreen=True,
    node_metrics=['louvain'],
    node_color='louvain',
    default_edge_type='curve',
    node_size=G.degree,
    start_layout=15

)

In [9]:
follows_df.query("Target=='web3js'")

                  Source  Target  Weight
38253           ethereum  web3js       2
38258         blockchain  web3js       1
38265            oreilly  web3js       1
38271               book  web3js       1
38275    smart-contracts  web3js       1
38279           solidity  web3js       1
38282               dapp  web3js       1
38284  truffle-framework  web3js       1
38285             embark  web3js       1
46209         javascript  web3js       1
46213                api  web3js       1
46216         typescript  web3js       1
46219               web3  web3js       1
46222       abi-decoders  web3js       1
46223       abi-encoders  web3js       1